body {
  background: #9dd2b8 ;
}

.container {
  position: relative;
  width: 600px;
  margin: 100px auto 0;
  padding: 50px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 10px 15px -8px #000;
  border-radius: 5px;
  text-align: center;
}

.kitties {
    background: #333 url("kitties.jpg") center center no-repeat;
}

.starter, .yeah {
    border-radius: 50%;
}



.hide{
  display: none;
}

.mute .pause {
    display: none;
}
.mute.playing .pause {
    display: block;
}
.mute.playing .play {
    display: none;
}

.enjoy-css {
  position: absolute;
  top: 172px;
  left: 80px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  width: 125px;
  height: 67px;
  position: absolute;
  padding: 5px;
  border: none;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 32px/2 "Abel", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.enjoy-css::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: -1;
  width: 40px;
  height: 40px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 104px;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  text-shadow: none;
  -webkit-transform: rotateX(168deg) rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
  transform: rotateX(168deg) rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
}
